/*
    * -------------------------------------------------
    *  minotaur custom profile Nextflow config file
    * -------------------------------------------------
    * Config options for all custom environments.
    * Cluster-specific config options should be saved
    * in the conf folder and imported under a profile
    * name here.
    *
    * This setup is inspired by nf-core/configs
    */

//Please use a new line per include Config section to allow easier linting/parsing. Thank you.
profiles {
    eva_minotaur {
        includeConfig "${minotaur_config_base}/conf/eva_minotaur.config"
    }

    mnt_debug {
        println "minotaur_config_base: ${minotaur_config_base}"
    }
}
